@use 'src/assets/styles/scss' as *;

.profile {
  padding: 1rem 1.5rem;
  overflow-y: scroll;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar {
    width: 7px;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--theme-bg-color);
    border-radius: 5px;
  }
  &__header {
    background: var(--body-bg);
    padding: 1rem;
    border-radius: 10px;
    @include flex(stretch, none);
    img {
      width: 150px;
      max-height: 170px;
      object-fit: cover;
      margin-right: 1rem;
    }
    color: var(--theme-color);
    &--title {
      font-size: 2rem;
      font-weight: 600;
    }
    &--email,
    &--age,
    &--friend {
      font-size: 1.2rem;
    }
  }
  &__form {
    background: var(--body-bg);
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    &--update--title {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      color: var(--theme-color);
    }
    > form {
      width: 60%;
      margin: auto;
      background: var(--body-bg);
      box-shadow: 0px 0px 7px 2px rgba($color: #000000, $alpha: 0.3);
      padding: 2.5rem;
      margin-bottom: 2rem;
      > * ~ * {
        margin-top: 1.5rem;
      }
    }
    &--file {
      position: relative;
      input {
        display: none;
      }
      .file_title {
        cursor: pointer;
        padding: 5px 10px;
        background: var(--theme-bg-color);
        color: var(--theme-color);
      }
    }
    span {
      color: var(--theme-color);
    }
    input {
      padding: 7px 10px;
      border: none;
      width: 100%;
      border-radius: 3px;
      background: var(--search-bg);
      color: var(--theme-color);
    }
    button {
      cursor: pointer;
      width: 100%;
      padding: 7px;
      border: none;
      background: var(--button-bg);
      color: var(--theme-color);
      box-shadow: 0 0 5px 2px rgba($color: #000000, $alpha: 0.3);
      &:active {
        transform: translateY(1px);
      }
    }
  }
}
