@use 'src/assets/styles/scss/' as *;

.input-password {
  position: relative;
  width: 100%;
  input {
    width: 100%;
    border: none;
    background: none;
    border-top: none;
    border-right: none;
    padding: 10px;
    font-size: 1.1rem;
    background: var(--theme-bg-color);
    color: var(--theme-color);
  }
  button {
    position: absolute;
    right: 3px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    svg {
      width: 1.5rem;
      path {
        fill: var(--theme-color);
      }
    }
  }
}
